<!--
Developer : Dansteve Adekanbi
copyright : Dansteve Adekanbi
year : 2017
-->
<ion-view view-title="log-login">
    <ion-content scroll="false" class="login">
        <ion-slides options="options" slider="data.slider" class="box">
            <ion-slide-page>
                <div>
                    <div class="list padding login-padding">
                        <label class="item item-input login-form">
                            <span class="input-label" >Username :</span>
                            <input type="text" ng-model="user.username">
                          </label>
                        <label class="item item-input login-form">
                            <span class="input-label">Password :</span>
                            <input type="password" ng-model="user.password">
                          </label>
                        <div style="text-align: center" ng-class="{'show': loading == true}"><ion-spinner icon="circles"></ion-spinner></div>
                        <div class="padding">
                            <button class="button button-block button-positive" ng-click="signIn()" ng-disabled="!user.username || !user.password">
                          Sign-In
                            </button>
                            <div class="row" style="text-align: center;">
                                <div class="col"><button class="button button-clear icon ion-social-linkedin button-positive">
                            </button></div>
                                <div class="col"><button class="button button-clear icon ion-social-instagram button-balanced">
                            </button></div>
                                <div class="col"><button class="button button-clear icon ion-social-facebook button-calm" >
                               </button></div>
                                <div class="col">
                                    <button class="button button-clear icon ion-social-twitter button-royal" >
                           </button></div>
                            </div>
                            <p class="text-center">
                                <a href="#/forgot-password" ng-click="modal.show()">Forgot password</a>
                            </p>
                        </div>
                    </div>
                </div>
                <script id="templates/modal.html" type="text/ng-template">
                    <ion-modal-view>
                        <ion-header-bar class="bar bar-header bar-positive">
                            <h1 class="title">Reset Password</h1>
                            <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
                        </ion-header-bar>
                        <ion-content class="padding">
                            <p class="name" id="name">if you've lost your password or wish to reset it,enter email address or phone number to get started. <br><br></p>
                            <div class="list">
                                <label class="item item-input">
                          <input ng-model="newUser.email" type="text" placeholder="Email or Phone number">
                        </label>
                                <button class="button button-full button-positive" ng-click="createContact(newUser);modal.hide();">Reset</button>
                                <button class="button button-full button-stable" ng-click="createContact(newUser);modal.hide();">Cancel</button>
                            </div>
                        </ion-content>
                    </ion-modal-view>
                </script>
            </ion-slide-page>
            <ion-slide-page>
                <div>
                    <div class="list padding">
                        <label class="item item-input white item-stacked-label">
                            <span class="input-label">First Name</span>
                            <input type="text" placeholder="John">
                          </label>
                        <label class="item item-input white item-stacked-label">
                            <span class="input-label">Last Name</span>
                            <input type="text" placeholder="Suhr">
                          </label>
                        <label class="item item-input white item-stacked-label">
                            <span class="input-label">Email</span>
                            <input type="text" placeholder="john@suhr.com">
                          </label>
                    </div>
                </div>
            </ion-slide-page>
        </ion-slides>
    </ion-content>
</ion-view>
