<ion-view view-title="log-access">
    <ion-header-bar  ng-if="the.email" class="bar bar-header bar-positive">
         <button class="button button-icon icon ion-ios-arrow-back" ng-click="backlogin()"> Exit </button>
                <h1 class="title">Parent Access</h1>
    </ion-header-bar>
    <ion-content scroll="true" class="" ng-init="">
        <div class="padding" ng-if="!the.email" style="margin-top:50%; text-align: center">
            <h1>You don't have a child in this school. Please Login</h1>
            <button class="button button-block button-positive" ng-click="backlogin()">
                           Login
            </button>
        </div>
        <div ng-if="the.email">
            <div class="item item-image" style="margin-top: 60px; border: none">
                <img src="{{the.img}}" class="profile-access" ng-click="modal.show()">
            </div>
            <div class="list" style="text-align: center">
             <a  style="text-align: center">
                Name :  {{the.first_name| capitalize}}  {{the.lastname| capitalize}}<br>
                Email:  {{the.email}} <br>
                Phone:  {{the.phone}}
             </a>
            </div>
            <div class="item item-divider" style=" min-height: 30px;background-color: #f5f5f5;text-align: center;color: #222;font-weight: 500;font-size: 40px;">2016 - 2017<br><br> <img src="http://pudoworld.com/view/uploads/{{currentSch.img}}" class="profile-access2" style="height: 60px; width: auto !important"></div>
            <div class="list">
                <ion-item ng-repeat="child in childs | filter : {parent : the.email} | filter : {approve : 'true'} | filter : {school : currentSch.id}" type="item-text-wrap" ng-class-even="'item-stable'" style="padding-top: 2px;padding-bottom: 2px;">
                    <!--
                    <div>
                        <div class="padding" ng-show="!child.length"  style="margin-top:50%; text-align: center">
                            <h1>You don't have a child in this school. Please Login</h1>
                            <button class="button button-block button-positive" ng-click="backlogin()">
                           Login
                            </button>
                        </div>
                    </div>
-->
                    <div class="item-remove-animate item-avatar item-icon-right" ng-click="getchild(child.$id)">
                        <img ng-src="{{child.face}}" id="child.$id">
                        <h2>{{child.name}}</h2>
                        <p style="margin-bottom: 0px;">School : {{child.school | capitalize}}</p>
                        <p style="margin-bottom: 0px;">Class : {{child.class | capitalize}}</p>
                    </div>
                </ion-item>
            </div>
        </div>
        <script id="templates/modal2.html" type="text/ng-template">
            <ion-modal-view ng-init="" style="background: rgba(10, 157, 199, 0.95);">
                <ion-header-bar class="bar bar-header bar-positive">
                    <h1 class="title">{{mechild.name | capitalize}}</h1>
                    <button class="button button-clear button-primary" ng-click="modal2.hide()">Cancel</button>
                </ion-header-bar>
                <ion-content class="" style="rgba(250, 250, 250, 0);">
                    <div id="seeMe" style="text-align: center"><img ng-src="{{mechild.face}}" class="profile" style="height: 50%;width: 60% !important;"></div>
                    <!--
                            <div style="text-align:center; color:#fff;"><h1 class="title">{{mechild.name}}</h1></div>
                            <div style="text-align:center; color:#fff;"><h1 class="title">{{mechild.class}}</h1></div>
                            <div style="text-align:center; color:#fff;"><h1 class="title">{{mechild.school}}</h1></div>
-->
                </ion-content>
            </ion-modal-view>
        </script>
        <script id="templates/modal.html" type="text/ng-template">
            <ion-modal-view ng-init="" style="background: rgba(10, 157, 199, 0.95);">
                <ion-header-bar class="bar bar-header bar-positive">
                    <h1 class="title">Name : <br>{{the.lastname | capitalize}}</h1>
                    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
                </ion-header-bar>
                <ion-content class="" style="rgba(250, 250, 250, 0);">
                    <div id="seeMe" style="text-align: center"><img src="{{the.img}}" class="profile" style="height: 50%;width: 60% !important;"></div>
                </ion-content>
            </ion-modal-view>
        </script>
    </ion-content>
</ion-view>
