        <ion-tabs class="tabs-striped tabs-bottom tabs-background-positive tabs-color-light tabs-item-hide">
            <!-- Dashboard Tab -->
            <ion-tab title="Dashboard" icon-off="ion-ios-locked" icon-on="ion-ios-locked-outline" href="#/log/login" ng-hide="true">
                <ion-nav-view name="log-login"></ion-nav-view>
            </ion-tab>

            <!-- Account Tab -->
            <ion-tab title="Account" icon-off="ion-key" icon-on="ion-key" href="#/log/access">
                <ion-nav-view name="log-access"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
